*
{
    user-select: none;
}
body
{
    overflow: hidden;
    background: black;
}
.fullsize
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
#camera
{
    --x: 0;
    --y: 250px;
    --z: 0;
    --rotX: 0;
    --rotY: 0;
    --perspective: 50vh;
    background: pink;
    perspective: var(--perspective);
    overflow: hidden;
}
#camera .scene
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(var(--rotY)) rotateY(var(--rotX)) translateX(var(--x)) translateY(var(--y)) translateZ(var(--z)) translateZ(var(--perspective));
    transform-origin: 50% 50% var(--perspective);
    z-index: 100;
}
#mousearea
{

}
.face
{
    --x: 0;
    --y: 0;
    --z: 0;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 100px;
    height: 100px;
    background: grey;
    background-image: url(concrete.jpg);
    background-size: 100% 100%;
    transform:   translateX(50px) translateX(var(--x)) translateY(var(--y)) translateY(-100px) translateZ(var(--z)) rotateX(90deg);
    box-sizing: border-box;
    border: 2px solid blue;

}
.faceV2
{
    --x: 0;
    --y: 0;
    --z: 0;
    --width: 0;
    --height: 0;

    position: absolute;
    width: var(--width);
    height: var(--height);
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
    transform-origin: 50px 50px;
    box-sizing: border-box;
    //border: 1px solid black;

    background: grey;
    background-image: url(concrete.jpg);
    background-size: 100px 100px;

    /*backface-visibility: hidden;*/
}
.orientation0
{
    transform: translate3d(var(--x),var(--y),var(--z)) translate3d(100px, -50px, -50px)  rotateY(90deg);
    filter: brightness(100%);
}
.orientation1
{
    transform: translate3d(var(--x),var(--y),var(--z)) translate3d(0, -50px, -50px) rotateY(90deg) ;
    filter: brightness(96%);
}

.orientation2
{
    transform: translate3d(var(--x),var(--y),var(--z))  translate3d(50px, -50px, 100px) rotateY(0deg) ;
    filter: brightness(92%);

}

.orientation3
{
    transform: translate3d(var(--x),var(--y),var(--z))  translate3d(50px, -50px, 0)  rotateY(0deg) ;
    filter: brightness(88%);

}

.orientation4
{
    transform: translate3d(var(--x),var(--y),var(--z)) translate3d(50px, -100px, -50px)  rotateY(90deg) rotateX(90deg) ;
    filter: brightness(84%);

}

.orientation5
{
    transform: translate3d(var(--x),var(--y),var(--z)) translate3d(50px, 0, -50px) rotateY(90deg) rotateX(90deg) ;
    filter: brightness(80%);

}


.projectile
{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: calc(50% - 10px);
    bottom: calc(50% - 10px);
    transform: translate3d(var(--x), calc(-1 * var(--y)), var(--z)) rotateY(var(--rotX)) rotateX(var(--rotY));
}

.projectileBlue
{
    background: #d6f9ff;
    box-shadow: blue 0 0 30px, blue 0 0 25px;
}

.projectileOrange
{
    background: #fff1e9;
    box-shadow: #ff5900 0 0 30px, #ff5900 0 0 25px;
}

.projectileShuriken
{
    background: url(shuriken.png);
    background-size: 100% 100%;
    transform:  translate3d(var(--x), calc(-1 * var(--y)), var(--z)) rotateY(var(--rotX)) rotateX(var(--rotY)) rotateY(100deg) scale(.1);
    width: 200px;
    height: 200px;
    border-radius: 0;

    left: calc(50% - 100px);
    bottom: calc(50% - 100px);
}

.portal
{
    --x: 300px;
    --y: -100px;
    --z: -799px;
    --width: 100px;
    --height: 200px;
    --rot: 0;
    position: absolute;
    width: var(--width);
    height: var(--height);
    left: calc(50% - 50px);
    bottom: calc(50% - 50px);
    transform-origin: 50px 50px;

    box-shadow: orangered 0 0 5px;
    border-radius: 50%;
    background: #ffffff;
    transform: translateX(var(--x)) translateY(var(--y)) translateZ(var(--z)) rotateX(var(--rot));

}

#gui
{
    z-index: 200;
    //display: none;
}
#mousearea
{
    z-index: 300;
}
#gui .portalgun
{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40vh;
}

#gui .crosshair
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.f3pos
{
    text-align: left;
}